<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>庵谷</string>
		<key>shortcut</key>
		<string>いほりや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>拓輝</string>
		<key>shortcut</key>
		<string>ひろき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>トレイト</string>
		<key>shortcut</key>
		<string>とれいと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>誤字</string>
		<key>shortcut</key>
		<string>ごじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>累積和</string>
		<key>shortcut</key>
		<string>るいせきわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>5乗</string>
		<key>shortcut</key>
		<string>ごじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>整数列</string>
		<key>shortcut</key>
		<string>せいすうれつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二乗和</string>
		<key>shortcut</key>
		<string>にじょうわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>偶奇</string>
		<key>shortcut</key>
		<string>ぐうき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>遊舎工房</string>
		<key>shortcut</key>
		<string>ゆうしゃこうぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>セグメント木</string>
		<key>shortcut</key>
		<string>せぐめんとき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よろしくお願いいたします．</string>
		<key>shortcut</key>
		<string>よろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アサイン</string>
		<key>shortcut</key>
		<string>あさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>非同期</string>
		<key>shortcut</key>
		<string>ひど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>負荷試行</string>
		<key>shortcut</key>
		<string>ふかしこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>解き直し</string>
		<key>shortcut</key>
		<string>ときなおし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ロック待ち</string>
		<key>shortcut</key>
		<string>ろっくまち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>違い</string>
		<key>shortcut</key>
		<string>ちがい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>文書間</string>
		<key>shortcut</key>
		<string>ぶんしょかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>関連研究</string>
		<key>shortcut</key>
		<string>かんれん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>研究</string>
		<key>shortcut</key>
		<string>けん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>問い</string>
		<key>shortcut</key>
		<string>とい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>注意</string>
		<key>shortcut</key>
		<string>ちゅうい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2値テスト</string>
		<key>shortcut</key>
		<string>にちてすと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>以下</string>
		<key>shortcut</key>
		<string>いか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スレッド</string>
		<key>shortcut</key>
		<string>すれっど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>その</string>
		<key>shortcut</key>
		<string>その</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゴルーチン</string>
		<key>shortcut</key>
		<string>ごるーちん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゴールーチン</string>
		<key>shortcut</key>
		<string>ごーるーちん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Kubernetes</string>
		<key>shortcut</key>
		<string>くべ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Kubernetes</string>
		<key>shortcut</key>
		<string>くば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>直和型</string>
		<key>shortcut</key>
		<string>ちょくわがた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>多数派</string>
		<key>shortcut</key>
		<string>たすうは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>少数派</string>
		<key>shortcut</key>
		<string>しょうすうは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>競プロ</string>
		<key>shortcut</key>
		<string>きょうぷろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>後方互換性</string>
		<key>shortcut</key>
		<string>こうほうごかんせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>型情報</string>
		<key>shortcut</key>
		<string>かたじょうほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>舐達麻</string>
		<key>shortcut</key>
		<string>なめだるま</string>
	</dict>
</array>
</plist>
